<section id="intro" class="group"><%= partial "documentation/svfsi/fluid/introduction" %></section>

<section id="nn" class="group"><%= partial "documentation/svfsi/fluid/nonnewtonian" %></section>
<section id="nn_theory" class="subgroup"><%= partial "documentation/svfsi/fluid/nonnewtonian_theory" %></section>
<section id="nn_input" class="subgroup"><%= partial "documentation/svfsi/fluid/nonnewtonian_input" %></section>

<section id="pres" class="group"><%= partial "documentation/svfsi/fluid/prescribed" %></section>
<section id="pres_wall" class="subgroup"><%= partial "documentation/svfsi/fluid/prescribed_wallmotion" %></section>
<section id="pres_input" class="subgroup"><%= partial "documentation/svfsi/fluid/prescribed_input" %></section>

<section id="ref" class="group"><%= partial "documentation/svfsi/fluid/reference" %></section>
