<section id="intro" class="group"><%= partial "documentation/svfsi/fsi/introduction" %></section>
<section id="wall_mesh" class="group"><%= partial "documentation/svfsi/fsi/mesh_adam_BL" %></section>
<section id="svFSI_simulation" class="group"><%= partial "documentation/svfsi/fsi/setting_up_simulation" %></section>
<section id="sim_results" class="group"><%= partial "documentation/svfsi/fsi/simulation_results" %></section>
<section id="app_meshmixer" class="group"><%= partial "documentation/svfsi/fsi/appendix_mesh_meshmixer" %></section>
<section id="app_fluid_geometry" class="group"><%= partial "documentation/svfsi/fsi/appendix_creating_fluid_geometry" %></section>
<section id="app_solid_geometry" class="group"><%= partial "documentation/svfsi/fsi/appendix_creating_solid_geometry" %></section>
<section id="app_solid_mesh" class="group"><%= partial "documentation/svfsi/fsi/appendix_creating_solid_mesh" %></section>
<section id="app_fluid_mesh" class="group"><%= partial "documentation/svfsi/fsi/appendix_creating_fluid_mesh" %></section>
<section id="app_restart_after_remesh" class="group"><%= partial "documentation/svfsi/fsi/appendix_restart_after_remesh" %></section>