
<section id="modeling" class="group"><%= partial "documentation/svfsi/structure/introduction" %></section>
<section id="solve" class="subgroup"><%= partial "documentation/svfsi/structure/solve" %></section>
<section id="obtain-svFSI" class="subgroup"><%= partial "documentation/svfsi/structure/obtain-svFSI" %></section>
<section id="mesh-gen" class="subgroup"><%= partial "documentation/svfsi/structure/mesh-gen" %></section>
<section id="fiber-gen" class="subgroup"><%= partial "documentation/svfsi/structure/fiber-gen" %></section>
<section id="solver-input" class="subgroup"><%= partial "documentation/svfsi/structure/solver-input" %></section>
<section id="simulation" class="subgroup"><%= partial "documentation/svfsi/structure/simulation" %></section>

<section id="theory" class="subgroup"><%= partial "documentation/svfsi/structure/theory" %></section>
<section id="kinematics" class="subgroup"><%= partial "documentation/svfsi/structure/kinematics" %></section>
<section id="struct" class="subgroup"><%= partial "documentation/svfsi/structure/struct" %></section>
<section id="ustruct" class="subgroup"><%= partial "documentation/svfsi/structure/ustruct" %></section>
<section id="material-models" class="subgroup"><%= partial "documentation/svfsi/structure/material-models" %></section>
<section id="refs" class="subgroup"><%= partial "documentation/svfsi/structure/refs" %></section>
