
<section id="intro" class="group"><%= partial "documentation/svfsi/structure/introduction" %></section>
<section id="mesh-gen" class="group"><%= partial "documentation/svfsi/structure/mesh-gen" %></section>
<section id="solver-input" class="group"><%= partial "documentation/svfsi/structure/solver-input" %></section>

<section id="theory" class="group"><%= partial "documentation/svfsi/structure/theory" %></section>
<section id="kinematics" class="subgroup"><%= partial "documentation/svfsi/structure/kinematics" %></section>
<section id="struct" class="subgroup"><%= partial "documentation/svfsi/structure/struct" %></section>
<section id="ustruct" class="subgroup"><%= partial "documentation/svfsi/structure/ustruct" %></section>
<section id="material-models" class="subgroup"><%= partial "documentation/svfsi/structure/material-models" %></section>
<section id="refs" class="subgroup"><%= partial "documentation/svfsi/structure/refs" %></section>
