<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= current_page.data.title || "SimVascular Documentation" %></title>

    <%= stylesheet_link_tag "bootstrap"%>

    <%= stylesheet_link_tag "shop-item" %>

    <link rel="stylesheet" href="font-awesome-4.1.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

    <link rel="shortcut icon" href="img/favicon.ico">    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars" id="barIcon"></i>
              </button>
                <a class="navbar-brand" id="brandName" href="index.html">
                  <img src="img/svlogo/svLogoSmallText.png" alt="...">
                </a>
                <a class="navbar-brand page-scroll">            
                3.0
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">            
                <ul class="nav navbar-nav">

                  <!-- USER GUIDES -->
                  <li>
                    <a href="#" id="dropdownMenu1" data-toggle="dropdown">
                      <b><span class="fa fa-user"></span> User Guides</b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="docsInstallation.html"><b><span class="fa fa-sign-in fa-rotate-90"></span> Installation</b></a></li>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="docsQuickGuide.html"><b><span class="icon ion-ios7-bolt"></span> Quick Guide</b></a></li>   
                      <li role="presentation" class="divider"></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="docsModelGuide.html"><b><span class="icon ion-settings"></span> Modeling</b></a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="docsMeshing.html"><b><span class="icon ion-ios7-keypad"></span> Meshing</b></a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="docsFlowSolver.html"><b><span class="icon ion-play"></span> Simulation</b></a></li>
                    </ul>
                  </li>

                  <!-- CLINCAL CASES -->
                  <li>
                    <a href="#" id="dropdownMenu1" data-toggle="dropdown">
                      <b><i class="fa fa-stethoscope"></i> Clinical Cases</b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="clinicalCase3.html"><b><span class="fa fa-user-md"></span> Coronary Normal</b></a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="clinicalCase1.html"><b><span class="fa fa-user-md"></span> Aortofemoral Normal - 1</b></a></li>                      
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="clinicalCase2.html"><b><span class="fa fa-user-md"></span> Aortofemoral Normal - 2</b></a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="clinicalCase4.html"><b><span class="fa fa-user-md"></span> Healthy Pulmonary</b></a></li>
                    </ul>
                  </li>

                  <!-- DEVELOPER GUIDES -->
                  <li>
                    <a href="#" id="dropdownMenu1" data-toggle="dropdown">
                      <b><span class="fa fa-caret-square-o-right"></span> Developer Guides</b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"> 
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="docsCompile.html"><b><span class="fa fa-file-text-o"></span> Compile Sources</b></a></li>  
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="docsCodeSnippets.html"><b><span class="fa fa-indent"></span> Code Snippets</b></a></li>        
                    </ul>
                  </li>                  

                  <!-- svCOMMUNITY -->
                  <li>
                    <a href="#" id="dropdownMenu1" data-toggle="dropdown">
                      <b><i class="fa fa-users"></i> svCommunity</b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="https://simtk.org/forums/viewforum.php?f=188"><b><span class="fa fa-users"></span> Public Forum</b></a></li>                                          
                      <li role="presentation" class="divider"></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="https://simtk.org/mailman/listinfo/simvascular-news"><b><span class="fa fa-sign-in"></span> Join News Mailing List</b></a></li>                      
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="https://simtk.org/pipermail/simvascular-news/"><b><span class="fa fa-pencil-square-o"></span> News Mailing List Archive</b></a></li>                      
                    </ul>
                  </li>

                  <!-- REFERENCES -->
                  <li>
                    <a href="docsRefs.html" id="dropdownMenu1" >
                      <b><span class="icon ion-document-text"></span>References</b>
                    </a>
                  </li>  

                    <!-- <li><a href="clinicalCase1.html"><b>Aortofemoral Normal (Case 1)</b></a></li>
                    <li><a href="clinicalCase2.html"><b>Aortofemoral Normal (Case 2)</b></a></li>
                    <li><a href="clinicalCase3.html"><b>Coronary Normal (Case 3)</b></a></li>
                    <li><a href="clinicalCase4.html"><b>Healthy Pulmonary (Case 4)</b></a></li>
                    <li><a href="docsQuickGuide.html"><b>User Guides</b></a></li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <%= yield %>

    <!-- /.container -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid text-center">
          <ul class="nav navbar-nav">
            <li><a>Copyright &copy; SimVascular Development Team - 2017</a></li>                
          </ul>
        </div>
        <!-- /.container -->
    </nav>

    
    <%= javascript_include_tag "jquery-1.11.0",
                               "bootstrap.min"%>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
      $('body').scrollspy({
        target: '.bs-docs-sidebar',
        offset: 40
      });
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55333921-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

</body>

</html>
