<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= current_page.data.title || "SimVascular Documentation" %></title>

    <%= stylesheet_link_tag "bootstrap.min"%>

    <%= stylesheet_link_tag "shop-item" %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="container-fluid">
    <!-- Navigation -->
    <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="../index.html">SimVascular</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
                <ul class="nav navbar-nav">
                    <li><a href="#" id="btnNews">News Archive</a></li>                
                    <li><a href="#" id="btnUserGuide">User Guide</a></li>
                    <li><a href="#" id="btnMeshing">Meshing</a></li>
                    <li><a href="#" id="btnPresolver">Presolver</a></li>
                    <li><a href="#" id="btnFlowSolver">FlowSolver</a></li>
                    <li><a href="#" id="btnTutorials">Tutorials</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </div>

    <!-- Page Content -->
    <%= yield %>

    <!-- /.container -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
                <ul class="nav navbar-nav">
                    <li><a>Copyright &copy; The SimVascular Development Team - 2014</a></li>                
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    </div>
    
    <%= javascript_include_tag "jquery-1.11.0",
                               "bootstrap.min"%>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
      $(document).ready(function() {
        $("#manNews").show();
        $("#manUserGuide").hide();
        $("#manMeshing").hide();
        $("#manPresolver").hide();
        $("#manFlowSolver").hide();
        $("#manTutorials").hide();  
        $('body').scrollspy();       
      });
      // NEWS
      $('#btnNews').on('click', function(event) {
        $("#manNews").show();
        $("#manUserGuide").hide();
        $("#manMeshing").hide();
        $("#manPresolver").hide();
        $("#manFlowSolver").hide();
        $("#manTutorials").hide();
        $('body').scrollspy(); 
      });
      $('#btnUserGuide').on('click', function(event) {
        $("#manNews").hide();
        $("#manUserGuide").show();
        $("#manMeshing").hide();
        $("#manPresolver").hide();
        $("#manFlowSolver").hide();
        $("#manTutorials").hide();
        $('body').scrollspy(); 
      });
      $('#btnMeshing').on('click', function(event) {
        $("#manNews").hide();
        $("#manUserGuide").hide();
        $("#manMeshing").show();
        $("#manPresolver").hide();
        $("#manFlowSolver").hide();
        $("#manTutorials").hide();
        $('body').scrollspy(); 
      });
      $('#btnPresolver').on('click', function(event) {
        $("#manNews").hide();
        $("#manUserGuide").hide();
        $("#manMeshing").hide();
        $("#manPresolver").show();
        $("#manFlowSolver").hide();
        $("#manTutorials").hide();
        $('body').scrollspy(); 
      });
        $('#btnFlowSolver').on('click', function(event) {
        $("#manNews").hide();
        $("#manUserGuide").hide();
        $("#manMeshing").hide();
        $("#manPresolver").hide();
        $("#manFlowSolver").show();
        $("#manTutorials").hide();
        $('body').scrollspy(); 
      });
      $('#btnTutorials').on('click', function(event) {
        $("#manNews").hide();
        $("#manUserGuide").hide();
        $("#manMeshing").hide();
        $("#manPresolver").hide();
        $("#manFlowSolver").hide();
        $("#manTutorials").show();
        $('body').scrollspy(); 
      }); 
          
    </script>

    <script type="text/javascript"
      src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

</body>

</html>
