<section id="main" class="group"><%= partial "archives/sv2/codesnippets/main" %></section>
<section id="loadimage" class="group"><%= partial "archives/sv2/codesnippets/loadimage" %></section>
<section id="polytovolume" class="group"><%= partial "archives/sv2/codesnippets/polytovolume" %></section>
<section id="restoregroups" class="group"><%= partial "archives/sv2/codesnippets/restoregroups" %></section>
<section id="writemetaimage" class="group"><%= partial "archives/sv2/codesnippets/writemetaimage" %></section>
<section id="writemodeltovolume" class="group"><%= partial "archives/sv2/codesnippets/writemodeltovolume" %></section>
