<section id="installationDownload" class="group"><%= partial "archives/sv2/installation/download" %></section>
<section id="installationWindows" class="group"><%= partial "archives/sv2/installation/windows" %></section>
<section id="installationMac" class="group"><%= partial "archives/sv2/installation/mac" %></section>
<section id="installationLinux" class="group"><%= partial "archives/sv2/installation/linux" %></section>
<section id="Command Line Tools" class="group"><%= partial "archives/sv2/installation/command" %></section>
