<section id="modelingIntro" class="group"><%= partial "archives/sv2/modeling/intro" %></section>
<section id="modelingPathPlanning" class="group"><%= partial "archives/sv2/modeling/pathPlanning" %></section>
<section id="modelingCreatingPath" class="subgroup"><%= partial "archives/sv2/modeling/creatingPath" %></section>
<section id="modelingSmoothingPath" class="subgroup"><%= partial "archives/sv2/modeling/smoothingPath" %></section>
<section id="modelingSavingLoadingPaths" class="subgroup"><%= partial "archives/sv2/modeling/savingLoadingPaths" %></section>
<section id="modelingSegmentation" class="group"><%= partial "archives/sv2/modeling/segmentation" %></section>
<section id="modelingUsingGroups" class="subgroup"><%= partial "archives/sv2/modeling/usingGroups" %></section>
<section id="modelingVisualizingSegmentations" class="subgroup"><%= partial "archives/sv2/modeling/visualizingSegmentations" %></section>
<section id="modelingThresholding" class="subgroup"><%= partial "archives/sv2/modeling/thresholding" %></section>
<section id="modelingLevelSet" class="subgroup"><%= partial "archives/sv2/modeling/levelSet" %></section>
<section id="modelingManual" class="subgroup"><%= partial "archives/sv2/modeling/manual" %></section>
<section id="modelingAnalytic" class="subgroup"><%= partial "archives/sv2/modeling/analytic" %></section>
<section id="modelingCopyingPastingContours" class="subgroup"><%= partial "archives/sv2/modeling/copyingPastingContours" %></section>
<section id="modelingModifyingContours" class="subgroup"><%= partial "archives/sv2/modeling/modifyingContours" %></section>
<section id="modelingAddingToGroup" class="subgroup"><%= partial "archives/sv2/modeling/addingToGroup" %></section>
<section id="modelingDisplayingContours3D" class="subgroup"><%= partial "archives/sv2/modeling/displayingContours3D" %></section>
<section id="modelingBatch" class="subgroup"><%= partial "archives/sv2/modeling/batch" %></section>
<section id="modelingPuttingTogether" class="subgroup"><%= partial "archives/sv2/modeling/puttingTogether" %></section>
<section id="modelingSavingLoadingGroups" class="subgroup"><%= partial "archives/sv2/modeling/savingLoadingGroups" %></section>
<section id="modelingSolidModeling" class="group"><%= partial "archives/sv2/modeling/solidModeling" %></section>
<section id="modelingCreatingModels" class="subgroup"><%= partial "archives/sv2/modeling/creatingModels" %></section>
<section id="modelingCreatingBranch" class="subgroup"><%= partial "archives/sv2/modeling/creatingBranch" %></section>
<section id="modelingJoining" class="subgroup"><%= partial "archives/sv2/modeling/joining" %></section>
<section id="modelingBlending" class="subgroup"><%= partial "archives/sv2/modeling/blending" %></section>
<section id="modelingSolidModelingPolyData" class="group"><%= partial "archives/sv2/modeling/solidModelingPolyData" %></section>
<section id="modelingCreatingModelsPolyData" class="subgroup"><%= partial "archives/sv2/modeling/creatingModelsPolyData" %></section>
<section id="modelingPolyDataFaces" class="subgroup"><%= partial "archives/sv2/modeling/polyDataFaces" %></section>
<section id="modelingEditingPolyData" class="subgroup"><%= partial "archives/sv2/modeling/editingPolyData" %></section>
<section id="modelingCenterlinesPolyData" class="subgroup"><%= partial "archives/sv2/modeling/centerlinesPolyData" %></section>
