<section id="intro" class="group"><%= partial "documentation/1d_simulation/intro" %></section>

<section id="tool" class="group"><%= partial "documentation/1d_simulation/tool/tool" %></section>
  <section id="mesh-panel" class="subgroup"><%= partial "documentation/1d_simulation/tool/mesh-panel" %></section>
  <section id="basic-panel" class="subgroup"><%= partial "documentation/1d_simulation/tool/basic-panel" %></section>
  <section id="bcs-panel" class="subgroup"><%= partial "documentation/1d_simulation/tool/bcs-panel" %></section>
  <section id="wall-props-panel" class="subgroup"><%= partial "documentation/1d_simulation/tool/wall-props-panel" %></section>
  <section id="solver-params-panel" class="subgroup"><%= partial "documentation/1d_simulation/tool/solver-params-panel" %></section>
  <section id="create-files-panel" class="subgroup"><%= partial "documentation/1d_simulation/tool/create-files-panel" %></section>
  <section id="convert-results-panel" class="subgroup"><%= partial "documentation/1d_simulation/tool/convert-results-panel" %></section>
  <section id="tool-tutorial" class="subgroup"><%= partial "documentation/1d_simulation/tool/tutorial" %></section>
  <section id="tool-refs" class="subgroup"><%= partial "documentation/1d_simulation/tool/refs" %></section>

<section id="solver" class="group"><%= partial "documentation/1d_simulation/solver/solver" %></section>
  <section id="solver-theory" class="subgroup"><%= partial "documentation/1d_simulation/solver/theory" %></section>
  <section id="solver-user-guide" class="subgroup"><%= partial "documentation/1d_simulation/solver/user-guide" %></section>
  <section id="solver-input-file" class="subgroup"><%= partial "documentation/1d_simulation/solver/input-file" %></section>
  <section id="solver-tutorial-simple-artery" class="subgroup"><%= partial "documentation/1d_simulation/solver/tutorial-simple-artery" %></section>
  <section id="solver-tutorial-aorta-iliac" class="subgroup"><%= partial "documentation/1d_simulation/solver/tutorial-aorta-iliac" %></section>
  <section id="solver-tutorial-aorta-femoral" class="subgroup"><%= partial "documentation/1d_simulation/solver/tutorial-aorta-femoral" %></section>
  <section id="solver-refs" class="subgroup"><%= partial "documentation/1d_simulation/solver/refs" %></section>


