<section id="compileRequirements" class="group"><%= partial "documentation/compile/requirements" %></section>
<section id="reqLibWin" class="subgroup"><%= partial "documentation/compile/libraries/windows" %></section>
<section id="reqLibMac" class="subgroup"><%= partial "documentation/compile/libraries/mac" %></section>
<section id="reqLibLinux" class="subgroup"><%= partial "documentation/compile/libraries/linux" %></section>
<section id="compileBuild" class="group"><%= partial "documentation/compile/build" %></section>
<section id="compileRun" class="group"><%= partial "documentation/compile/run" %></section>
<section id="compileITKVTK" class="group"><%= partial "documentation/compile/VTKITK" %></section>