<section id="compileRequirements" class="group"><%= partial "documentation/compile/requirements" %></section>
<section id="sysSetupWin" class="subgroup"><%= partial "documentation/compile/libraries/windows" %></section>
<section id="sysSetupMac" class="subgroup"><%= partial "documentation/compile/libraries/mac" %></section>
<section id="sysSetupLinux" class="subgroup"><%= partial "documentation/compile/libraries/linux" %></section>
<section id="compileBuild" class="group"><%= partial "documentation/compile/build" %></section>
<section id="compileRun" class="group"><%= partial "documentation/compile/run" %></section>
<section id="compileITKVTK" class="group"><%= partial "documentation/compile/additional_notes" %></section>
