    <section id="solverSec1" class="group"><%= partial "documentation/flowsolver/intro" %></section>
    <section id="solverSec2" class="group"><%= partial "documentation/flowsolver/overview" %></section>
    <section id="solverSec3" class="group"><%= partial "documentation/flowsolver/presolver" %></section>
    <section id="solverSec4" class="group"><%= partial "documentation/flowsolver/bcPhysics" %></section>
    <section id="solverSec5" class="subgroup"><%= partial "documentation/flowsolver/bcPractice" %></section>
    <section id="solverSec6" class="group"><%= partial "documentation/flowsolver/flowSolver" %></section>
    <section id="solverSec8" class="group"><%= partial "documentation/flowsolver/runningSolver" %></section>
    <section id="solverSec9" class="group"><%= partial "documentation/flowsolver/postProcess" %></section>
    <section id="solverSec7" class="group"><%= partial "documentation/flowsolver/solverInpGuide" %></section>




  


