    <section id="solverSec1" class="group"><%= partial "documentation/flowsolver/intro" %></section>
    <section id="solverSec2" class="group"><%= partial "documentation/flowsolver/overview" %></section>
    <section id="solverSec4" class="group"><%= partial "documentation/flowsolver/bcPhysics" %></section>
    <section id="solverSec3" class="group"><%= partial "documentation/flowsolver/presolver" %></section>
    <section id="solverSec31" class="subgroup"><%= partial "documentation/flowsolver/presolverFiles" %></section>
    <section id="solverSec32" class="subgroup"><%= partial "documentation/flowsolver/presolverBCTGUI" %></section>
    <section id="solverSec33" class="subgroup"><%= partial "documentation/flowsolver/presolverRunning" %></section>
    <section id="solverSec6" class="group"><%= partial "documentation/flowsolver/flowsolver" %></section>
    <section id="solverSec61" class="subgroup"><%= partial "documentation/flowsolver/flowsolverFiles" %></section>
    <section id="solverSec62" class="subgroup"><%= partial "documentation/flowsolver/flowsolverInp" %></section>
    <section id="solverSec63" class="subgroup"><%= partial "documentation/flowsolver/flowsolverRunning" %></section>
    <section id="solverSec9" class="group"><%= partial "documentation/flowsolver/postProcess" %></section>
    <section id="solverSec8" class="group"><%= partial "documentation/flowsolver/examples" %></section>
    <section id="solverSec81" class="subgroup"><%= partial "documentation/flowsolver/example2" %></section>
    <section id="solverSec82" class="subgroup"><%= partial "documentation/flowsolver/example3" %></section>
    <section id="solverSec83" class="subgroup"><%= partial "documentation/flowsolver/example4" %></section>
    <section id="solverSec7" class="group"><%= partial "documentation/flowsolver/appendix" %></section>
    <section id="solverSec71" class="subgroup"><%= partial "documentation/flowsolver/presolverCommands" %></section>
    <section id="solverSec72" class="subgroup"><%= partial "documentation/flowsolver/solverInpGuide" %></section>
    <section id="solverSec73" class="subgroup"><%= partial "documentation/flowsolver/impFiles" %></section>
    <section id="solverSec74" class="subgroup"><%= partial "documentation/flowsolver/rcrtFile" %></section>
    <section id="solverSec75" class="subgroup"><%= partial "documentation/flowsolver/cortFile" %></section>
  


