    <section id="intro" class="group"><%= partial "documentation/flowsolver/intro" %></section>
    <section id="overview" class="group"><%= partial "documentation/flowsolver/overview" %></section>
    <section id="bcphysics" class="group"><%= partial "documentation/flowsolver/bcPhysics" %></section>
    <section id="creatingjob" class="group"><%= partial "documentation/flowsolver/creatingjob" %></section>
    <section id="basic" class="group"><%= partial "documentation/flowsolver/basic" %></section>
    <section id="inflowbc" class="subgroup"><%= partial "documentation/flowsolver/inflowbc" %></section>
    <section id="outletbc" class="subgroup"><%= partial "documentation/flowsolver/outletbc" %></section>
    <section id="wallproperties" class="subgroup"><%= partial "documentation/flowsolver/wallproperties" %></section>
    <section id="solverparameters" class="subgroup"><%= partial "documentation/flowsolver/solverparameters" %></section>
    <section id="creatingdata" class="subgroup"><%= partial "documentation/flowsolver/creatingdata" %></section>
    <section id="runningjob" class="subgroup"><%= partial "documentation/flowsolver/runningjob" %></section>

    <section id="postprocess" class="group"><%= partial "documentation/flowsolver/postProcess" %></section>
    <section id="examples" class="group"><%= partial "documentation/flowsolver/examples" %></section>
    <section id="example2" class="subgroup"><%= partial "documentation/flowsolver/example2" %></section>
    <section id="example3" class="subgroup"><%= partial "documentation/flowsolver/example3" %></section>
    <section id="example4" class="subgroup"><%= partial "documentation/flowsolver/example4" %></section>

    <section id="appendix" class="group"><%= partial "documentation/flowsolver/appendix" %></section>
    <section id="solverconfiguration" class="subgroup"><%= partial "documentation/flowsolver/solverconfiguration" %></section>
    <section id="presolvercommands" class="subgroup"><%= partial "documentation/flowsolver/presolverCommands" %></section>
    <section id="bctfile" class="subgroup"><%= partial "documentation/flowsolver/bctFile" %></section>
    <section id="solverinp" class="subgroup"><%= partial "documentation/flowsolver/solverInpGuide" %></section>
    <section id="impbcfile" class="subgroup"><%= partial "documentation/flowsolver/impFiles" %></section>
    <section id="rcrtfile" class="subgroup"><%= partial "documentation/flowsolver/rcrtFile" %></section>
    <section id="cortfile" class="subgroup"><%= partial "documentation/flowsolver/cortFile" %></section>
  


