    <!--Nav Bar -->
    <div class="col-xs-1">
    </div>
    <nav class="col-xs-3 bs-docs-sidebar" id="solverSidebar">
        <ul id="sidebar" class="nav nav-stacked fixed">
            <p><h3>SVFlowsolver Guide</h3></p>
            <li>
                <a href="#solverSec1">Introduction</a>
            </li>
            <li>
                <a href="#solverSec2">Overview</a>
            </li>
            <li>
                <a href="#solverSec3">Presolver</a>
            </li>            
            <li>
                <a href="#solverSec4">Boundary Conditions</a>
                <ul class="nav nav-stacked">
                    <li><a href="#solverSec4">Physics</a></li>
                    <li><a href="#solverSec5">Practice</a></li>
                </ul>                
            </li>
            <li>
                <a href="#solverSec6">SVFlowsolver</a>
            </li>
            <li>
                <a href="#solverSec7">solver.inp file guide</a>
            </li>
            <li>
                <a href="#solverSec8">Running SVFlowsolver</a>
            </li>
            <li>
                <a href="#solverSec9">Postprocessing Results</a>
            </li>
        </ul>
    </nav>
    <!--Main Content -->
    <div class="col-xs-6">
      <section id="solverSec1" class="group"><%= partial "documentation/flowsolver/intro" %></section>
      <section id="solverSec2" class="group"><%= partial "documentation/flowsolver/overview" %></section>
      <section id="solverSec3" class="group"><%= partial "documentation/flowsolver/presolver" %></section>
      <section id="solverSec4" class="group"><%= partial "documentation/flowsolver/bcPhysics" %></section>
      <section id="solverSec5" class="subgroup"><%= partial "documentation/flowsolver/bcPractice" %></section>
      <section id="solverSec6" class="group"><%= partial "documentation/flowsolver/flowSolver" %></section>
      <section id="solverSec7" class="group"><%= partial "documentation/flowsolver/solverInpGuide" %></section>
      <section id="solverSec8" class="group"><%= partial "documentation/flowsolver/runningSolver" %></section>
      <section id="solverSec9" class="group"><%= partial "documentation/flowsolver/postProcess" %></section>
    </div>



  


