<section id="intro" class="group"><%= partial "documentation/genbc/introduction" %></section>
<section id="sv_prep" class="group"><%= partial "documentation/genbc/sv_prep" %></section>
<section id="genbc_setup" class="group"><%= partial "documentation/genbc/genbc_setup" %></section>
<section id="final_steps" class="group"><%= partial "documentation/genbc/final_steps" %></section>
<section id="pressure_waveform" class="group"><%= partial "documentation/genbc/pressure_waveform" %></section>
