<section id="modelingIntro" class="group"><%= partial "documentation/modeling/intro" %></section>
<section id="modelingPathPlanning" class="group"><%= partial "documentation/modeling/pathPlanning" %></section>
<section id="modelingCreatingPath" class="subgroup"><%= partial "documentation/modeling/creatingPath" %></section>
<section id="modelingSmoothingPath" class="subgroup"><%= partial "documentation/modeling/smoothingPath" %></section>
<section id="modelingImportingExportingPaths" class="subgroup"><%= partial "documentation/modeling/importingExportingPaths" %></section>
<section id="modelingSegmentation" class="group"><%= partial "documentation/modeling/segmentation" %></section>
<section id="modelingUsingGroups" class="subgroup"><%= partial "documentation/modeling/usingGroups" %></section>
<section id="modelingThresholding" class="subgroup"><%= partial "documentation/modeling/thresholding" %></section>
<section id="modelingLevelSet" class="subgroup"><%= partial "documentation/modeling/levelSet" %></section>
<section id="modelingManual" class="subgroup"><%= partial "documentation/modeling/manual" %></section>
<section id="modelingCopyingPastingContours" class="subgroup"><%= partial "documentation/modeling/copyingPastingContours" %></section>
<section id="modelingLoftingPreview" class="subgroup"><%= partial "documentation/modeling/loftingpreview" %></section>
<section id="modelingImportingExportingGroups" class="subgroup"><%= partial "documentation/modeling/importingExportingGroups" %></section>
<section id="modelingSolidModelingPolyData" class="group"><%= partial "documentation/modeling/solidModelingPolyData" %></section>
<section id="modelingCreatingModelsPolyData" class="subgroup"><%= partial "documentation/modeling/creatingModelsPolyData" %></section>
<section id="modelingPolyDataFaces" class="subgroup"><%= partial "documentation/modeling/polyDataFaces" %></section>
<section id="modelingEditingPolyData" class="subgroup"><%= partial "documentation/modeling/editingPolyData" %></section>
<section id="modelingCenterlinesPolyData" class="subgroup"><%= partial "documentation/modeling/centerlinesPolyData" %></section>
<section id="modelingImportingExportingModels" class="subgroup"><%= partial "documentation/modeling/importingExportingModels" %></section>
<section id="modelingSolidModelingAnalytic" class="group"><%= partial "documentation/modeling/solidModelingAnalytic" %></section>
<section id="modelingCreatingModelsAnalytic" class="subgroup"><%= partial "documentation/modeling/creatingModelsAnalytic" %></section>
<section id="modelingBlendingAnalytic" class="subgroup"><%= partial "documentation/modeling/blendingAnalytic" %></section>

