<section id="intro" class="group"><%= partial "documentation/python_interface/intro" %></section>
<section id="python_prog_env" class="group"><%= partial "documentation/python_interface/python_prog_env" %></section>
<section id="console" class="group"><%= partial "documentation/python_interface/console" %></section>
<section id="console_mode" class="group"><%= partial "documentation/python_interface/console_mode" %></section>
<section id="text_edit_mode" class="group"><%= partial "documentation/python_interface/text_edit_mode" %></section>
<section id="python_shell" class="group"><%= partial "documentation/python_interface/python_shell" %></section>
<section id="sv_modules" class="group"><%= partial "documentation/python_interface/modules/sv_modules" %></section>
<section id="projects" class="group"><%= partial "documentation/python_interface/modules/projects" %></section>
<section id="help" class="group"><%= partial "documentation/python_interface/modules/help" %></section>
<section id="function_arguments" class="group"><%= partial "documentation/python_interface/modules/function_arguments" %></section>
<section id="error_handling" class="group"><%= partial "documentation/python_interface/modules/error_handling" %></section>
<section id="dmg_module" class="group"><%= partial "documentation/python_interface/modules/dmg_module" %></section>
<section id="geometry_module" class="group"><%= partial "documentation/python_interface/modules/geometry_module" %></section>
<section id="meshing_module" class="group"><%= partial "documentation/python_interface/modules/meshing_module" %></section>
<section id="modeling_module" class="group"><%= partial "documentation/python_interface/modules/modeling_module" %></section>
<section id="path_planning_module" class="group"><%= partial "documentation/python_interface/modules/path_planning_module" %></section>
<section id="segmentation_module" class="group"><%= partial "documentation/python_interface/modules/segmentation_module" %></section>
<section id="vmtk_module" class="group"><%= partial "documentation/python_interface/modules/vmtk_module" %></section>

