<section id="intro" class="group"><%= partial "documentation/python_interface/intro" %></section>
<section id="console" class="group"><%= partial "documentation/python_interface/console" %></section>
<section id="console_mode" class="group"><%= partial "documentation/python_interface/console_mode" %></section>
<section id="text_edit_mode" class="group"><%= partial "documentation/python_interface/text_edit_mode" %></section>
<section id="python_shell" class="group"><%= partial "documentation/python_interface/python_shell" %></section>
<section id="sv_modules" class="group"><%= partial "documentation/python_interface/sv_modules" %></section>

