<section id="getting_started" class="group"><%= partial "documentation/quickguide/getting_started" %></section>

<section id="intro" class="group"><%= partial "documentation/quickguide/intro" %></section>
<section id="intro_pipeline" class="group"><%= partial "documentation/quickguide/intro_pipeline" %></section>
<section id="intro_tools" class="group"><%= partial "documentation/quickguide/intro_tools" %></section>
<section id="intro_projects" class="group"><%= partial "documentation/quickguide/intro_projects" %></section>
<section id="intro_mitk" class="group"><%= partial "documentation/quickguide/intro_mitk" %></section>

<section id="gui_intro" class="group"><%= partial "documentation/quickguide/gui/intro" %></section>
<section id="menubar" class="group"><%= partial "documentation/quickguide/gui/menubar" %></section>
<section id="toolbar" class="group"><%= partial "documentation/quickguide/gui/toolbar" %></section>
<section id="gui_display" class="group"><%= partial "documentation/quickguide/gui/display" %></section>
<section id="image_windowing" class="group"><%= partial "documentation/quickguide/gui/image_windowing" %></section>
<section id="gui_data_manager" class="group"><%= partial "documentation/quickguide/gui/data_manager" %></section>
<section id="gui_tool_panel" class="group"><%= partial "documentation/quickguide/gui/tool_panel" %></section>
<section id="gui_image_navigator" class="group"><%= partial "documentation/quickguide/gui/image_navigator" %></section>

<section id="tutorial_intro" class="group"><%= partial "documentation/quickguide/tutorial/intro" %></section>
<section id="tutorial_starting_simvascular" class="group"><%= partial "documentation/quickguide/tutorial/starting_simvascular" %></section>
<section id="tutorial_create_project" class="group"><%= partial "documentation/quickguide/tutorial/create_project" %></section>
<section id="tutorial_add_image_data" class="group"><%= partial "documentation/quickguide/tutorial/add_image_data" %></section>
<section id="tutorial_create_paths" class="group"><%= partial "documentation/quickguide/tutorial/create_paths" %></section>
<section id="tutorial_create_segmentations" class="group"><%= partial "documentation/quickguide/tutorial/create_segmentations" %></section>
<section id="tutorial_create_solid_model" class="group"><%= partial "documentation/quickguide/tutorial/create_solid_model" %></section>
<section id="tutorial_create_finite_element_mesh" class="group"><%= partial "documentation/quickguide/tutorial/create_finite_element_mesh" %></section>
<section id="tutorial_create_simulation" class="group"><%= partial "documentation/quickguide/tutorial/create_simulation" %></section>
<section id="tutorial_summary" class="group"><%= partial "documentation/quickguide/tutorial/summary" %></section>

