<section id="intro" class="group"><%= partial "documentation/quickguide/intro" %></section>

<section id="guilayout" class="group"><%= partial "documentation/quickguide/guilayout" %></section>
<section id="datamanager" class="group"><%= partial "documentation/quickguide/datamanager" %></section>
<section id="display" class="group"><%= partial "documentation/quickguide/display" %></section>
<section id="imagenavigator" class="group"><%= partial "documentation/quickguide/imagenavigator" %></section>
<section id="volumerendering" class="group"><%= partial "documentation/quickguide/volumerendering" %></section>

<section id="projectmanagement" class="group"><%= partial "documentation/quickguide/projectmanagement" %></section>

<section id="modeling" class="group"><%= partial "documentation/quickguide/modeling" %></section>
<section id="path" class="subgroup"><%= partial "documentation/quickguide/path" %></section>
<section id="segmentation" class="subgroup"><%= partial "documentation/quickguide/segmentation" %></section>
<section id="polydata" class="subgroup"><%= partial "documentation/quickguide/polydata" %></section>
<section id="parasolid" class="subgroup"><%= partial "documentation/quickguide/parasolid" %></section>
<section id="meshing" class="group"><%= partial "documentation/quickguide/meshing" %></section>
<section id="tetgen" class="subgroup"><%= partial "documentation/quickguide/tetgen" %></section>
<!-- <section id="meshsim" class="subgroup"><%= partial "documentation/quickguide/meshsim" %></section> -->
<section id="simulation" class="group"><%= partial "documentation/quickguide/simulation" %></section>
<section id="results" class="group"><%= partial "documentation/quickguide/results" %></section>
