<section id="getting_started" class="group"><%= partial "documentation/quickguide/getting_started" %></section>

<section id="intro" class="group"><%= partial "documentation/quickguide/intro" %></section>
<section id="intro_pipeline" class="group"><%= partial "documentation/quickguide/intro_pipeline" %></section>
<section id="intro_tools" class="group"><%= partial "documentation/quickguide/intro_tools" %></section>
<section id="intro_projects" class="group"><%= partial "documentation/quickguide/intro_projects" %></section>
<section id="intro_mitk" class="group"><%= partial "documentation/quickguide/intro_mitk" %></section>

<section id="gui_intro" class="group"><%= partial "documentation/quickguide/gui/intro" %></section>
<section id="gui_display" class="group"><%= partial "documentation/quickguide/gui/display" %></section>
<section id="gui_data_manager" class="group"><%= partial "documentation/quickguide/gui/data_manager" %></section>
<section id="gui_tool_panel" class="group"><%= partial "documentation/quickguide/gui/tool_panel" %></section>
<section id="gui_image_navigator" class="group"><%= partial "documentation/quickguide/gui/image_navigator" %></section>

<section id="tutorial" class="group"><%= partial "documentation/quickguide/tutorial" %></section>


<section id="modeling" class="group"><%= partial "documentation/quickguide/modeling" %></section>
<section id="path" class="subgroup"><%= partial "documentation/quickguide/path" %></section>
<section id="segmentation" class="subgroup"><%= partial "documentation/quickguide/segmentation" %></section>
<section id="3dsegmentation" class="subgroup"><%= partial "documentation/quickguide/3dseg" %></section>
<section id="polydata" class="subgroup"><%= partial "documentation/quickguide/polydata" %></section>
<section id="parasolid" class="subgroup"><%= partial "documentation/quickguide/parasolid" %></section>
<section id="meshing" class="group"><%= partial "documentation/quickguide/meshing" %></section>
<section id="tetgen" class="subgroup"><%= partial "documentation/quickguide/tetgen" %></section>
<!-- <section id="meshsim" class="subgroup"><%= partial "documentation/quickguide/meshsim" %></section> -->
<section id="simulation" class="group"><%= partial "documentation/quickguide/simulation" %></section>
<section id="results" class="group"><%= partial "documentation/quickguide/results" %></section>
