    <section id="refSec1" class="group"><%= partial "documentation/references/flowsolver" %></section>
    <section id="refSec2" class="group"><%= partial "documentation/references/bc" %></section>
    <section id="refSec3" class="group"><%= partial "documentation/references/linsolver" %></section>
    <section id="FSI" class="group"><%= partial "documentation/references/fsi" %></section>
    <section id="refSec4" class="group"><%= partial "documentation/references/modeling" %></section>
    <section id="refSec5" class="group"><%= partial "documentation/references/meshing" %></section>
    <section id="refSec6" class="group"><%= partial "documentation/references/validation" %></section>
    <section id="refSec7" class="group"><%= partial "documentation/references/clinicalapps" %></section>
    <section id="UQ" class="group"><%= partial "documentation/references/uq" %></section>
    <section id="refSec8" class="group bottom-buffer"><%= partial "documentation/references/othercontributors" %></section>
