    <section id="refSec1" class="group"><%= partial "documentation/refs/flowsolver" %></section>
    <section id="refSec2" class="group"><%= partial "documentation/refs/bc" %></section>
    <section id="refSec3" class="group"><%= partial "documentation/refs/linsolver" %></section>
    <section id="refSec4" class="group"><%= partial "documentation/refs/meshing" %></section>
    <section id="refSec5" class="group"><%= partial "documentation/refs/validation" %></section>
    <section id="refSec6" class="group"><%= partial "documentation/refs/clinicalapps" %></section>
    <section id="refSec7" class="group bottom-buffer"><%= partial "documentation/refs/othercontributors" %></section>
