<section id="intro" class="group"><%= partial "documentation/rom_simulation/intro" %></section>

<section id="tool" class="group"><%= partial "documentation/rom_simulation/tool/tool" %></section>
  <section id="mesh-panel" class="subgroup"><%= partial "documentation/rom_simulation/tool/mesh-panel" %></section>
  <section id="basic-panel" class="subgroup"><%= partial "documentation/rom_simulation/tool/basic-panel" %></section>
  <section id="bcs-panel" class="subgroup"><%= partial "documentation/rom_simulation/tool/bcs-panel" %></section>
  <section id="wall-props-panel" class="subgroup"><%= partial "documentation/rom_simulation/tool/wall-props-panel" %></section>
  <section id="solver-params-panel" class="subgroup"><%= partial "documentation/rom_simulation/tool/solver-params-panel" %></section>
  <section id="create-files-panel" class="subgroup"><%= partial "documentation/rom_simulation/tool/create-files-panel" %></section>
  <section id="convert-results-panel" class="subgroup"><%= partial "documentation/rom_simulation/tool/convert-results-panel" %></section>
  <section id="tool-tutorial" class="subgroup"><%= partial "documentation/rom_simulation/tool/tutorial" %></section>
  <section id="tool-refs" class="subgroup"><%= partial "documentation/rom_simulation/tool/refs" %></section>

<section id="1d-solver" class="group"><%= partial "documentation/rom_simulation/1d-solver/solver" %></section>
  <section id="1d-solver-theory" class="subgroup"><%= partial "documentation/rom_simulation/1d-solver/theory" %></section>
  <section id="1d-solver-user-guide" class="subgroup"><%= partial "documentation/rom_simulation/1d-solver/user-guide" %></section>
  <section id="1d-solver-input-file" class="subgroup"><%= partial "documentation/rom_simulation/1d-solver/input-file" %></section>
  <section id="s1d-olver-example-bifurcation-rcr" class="subgroup"><%= partial "documentation/rom_simulation/1d-solver/example-bifurcation-rcr" %></section>
  <section id="1d-solver-example-tube-resistance" class="subgroup"><%= partial "documentation/rom_simulation/1d-solver/example-tube-resistance" %></section>
  <section id="1d-solver-refs" class="subgroup"><%= partial "documentation/rom_simulation/1d-solver/refs" %></section>


<section id="0d-solver" class="group"><%= partial "documentation/rom_simulation/0d-solver/solver" %></section>
  <section id="0d-solver-theory" class="subgroup"><%= partial "documentation/rom_simulation/0d-solver/theory" %></section>
  <section id="0d-solver-refs" class="subgroup"><%= partial "documentation/rom_simulation/0d-solver/refs" %></section>
