<section id="intro" class="group"><%= partial "documentation/simcardio/intro" %></section>

<section id="automatic-cardiac-modeling" class="group"><%= partial "documentation/simcardio/cardiacModeling/auto-cardiac-modeling" %></section>
  <section id="seg-intro" class="subgroup"><%= partial "documentation/simcardio/cardiacModeling/seg-intro" %></section>
  <section id="seg-inputs" class="subgroup"><%= partial "documentation/simcardio/cardiacModeling/seg-inputs" %></section>
  <section id="seg-pre-trained-models" class="subgroup"><%= partial "documentation/simcardio/cardiacModeling/seg-pre-trained-models" %></section>
  <section id="seg-predict" class="subgroup"><%= partial "documentation/simcardio/cardiacModeling/seg-predict" %></section>
  <section id="seg-visualize" class="subgroup"><%= partial "documentation/simcardio/cardiacModeling/seg-visualize" %></section>

  <section id="mesh-intro" class="subgroup"><%= partial "documentation/simcardio/cardiacModeling/mesh-intro" %></section>
  <section id="mesh-lv-surface" class="subgroup"><%= partial "documentation/simcardio/cardiacModeling/mesh-lv-surface" %></section>
  <section id="mesh-volume" class="subgroup"><%= partial "documentation/simcardio/cardiacModeling/mesh-volume" %></section>
  <section id="mesh-register" class="subgroup"><%= partial "documentation/simcardio/cardiacModeling/mesh-register" %></section>
  <section id="mesh-motion" class="subgroup"><%= partial "documentation/simcardio/cardiacModeling/mesh-motion" %></section>

  <section id="refs" class="subgroup"><%= partial "documentation/simcardio/cardiacModeling/refs" %></section>


<section id="cep-modeling" class="group"><%= partial "documentation/simcardio/electrophysiology/cep-modeling" %></section>
  <section id="cep-intro" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/cep-intro" %></section>
  <section id="cep-theory" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/cep-theory" %></section>
  <section id="cep-activation-models" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/cep-activation-models" %></section>
  <section id="purkinje" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/purkinje" %></section>
  <section id="pnet-intro" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/pnet-intro" %></section>
  <section id="pnet-install" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/pnet-install" %></section>
  <section id="pnet-workflow" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/pnet-workflow" %></section>
  <section id="pnet-parameters" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/pnet-parameters" %></section>
  <section id="pnet-issues" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/pnet-issues" %></section>
  <section id="cep-examples" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/cep-examples" %></section>
  <section id="cep-example-block" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/cep-example-block" %></section>
  <section id="cep-example-pnet" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/cep-example-pnet" %></section>
  <section id="cep-refs" class="subgroup"><%= partial "documentation/simcardio/electrophysiology/cep-refs" %></section>


<section id="mechanics-modeling" class="group"><%= partial "documentation/simcardio/mechanics/mechanics-modeling" %></section>
  <section id="mechanics-solve" class="subgroup"><%= partial "documentation/simcardio/mechanics/mechanics-solve" %></section>
  <section id="mechanics-obtain-svFSI" class="subgroup"><%= partial "documentation/simcardio/mechanics/mechanics-obtain-svFSI" %></section>
  <section id="mechanics-mesh-gen" class="subgroup"><%= partial "documentation/simcardio/mechanics/mechanics-mesh-gen" %></section>
  <section id="mechanics-fiber-gen" class="subgroup"><%= partial "documentation/simcardio/mechanics/mechanics-fiber-gen" %></section>
  <section id="mechanics-solver-input" class="subgroup"><%= partial "documentation/simcardio/mechanics/mechanics-solver-input" %></section>
  <section id="mechanics-simulation" class="subgroup"><%= partial "documentation/simcardio/mechanics/mechanics-simulation" %></section>

  <section id="mechanics-theory" class="subgroup"><%= partial "documentation/simcardio/mechanics/mechanics-theory" %></section>
  <section id="mechanics-kinematics" class="subgroup"><%= partial "documentation/simcardio/mechanics/mechanics-kinematics" %></section>
  <section id="mechanics-struct" class="subgroup"><%= partial "documentation/simcardio/mechanics/mechanics-struct" %></section>
  <section id="mechanics-ustruct" class="subgroup"><%= partial "documentation/simcardio/mechanics/mechanics-ustruct" %></section>
  <section id="mechanics-material-models" class="subgroup"><%= partial "documentation/simcardio/mechanics/mechanics-material-models" %></section>
  <section id="mechanics-refs" class="subgroup"><%= partial "documentation/simcardio/mechanics/mechanics-refs" %></section>

