<section id="svfsi_intro" class="group"><%= partial "documentation/svfsi/main/intro" %></section>
<section id="svfsi_feature" class="group"><%= partial "documentation/svfsi/main/feature" %></section>
<section id="svfsi_install" class="group"><%= partial "documentation/svfsi/main/install" %></section>
<section id="svfsi_input" class="group"><%= partial "documentation/svfsi/main/input" %></section>
<section id="svfsi_mesh" class="group"><%= partial "documentation/svfsi/main/mesh" %></section>
<section id="svfsi_resource" class="group"><%= partial "documentation/svfsi/main/resource" %></section>