<section id="intro" class="group"><%= partial "documentation/svfsi/main/intro" %></section>
<section id="feature" class="group"><%= partial "documentation/svfsi/main/feature" %></section>
<section id="input" class="group"><%= partial "documentation/svfsi/main/input" %></section>
<section id="mesh" class="group"><%= partial "documentation/svfsi/main/mesh" %></section>
<section id="run" class="group"><%= partial "documentation/svfsi/main/run_simulation" %></section>
<section id="resource" class="group"><%= partial "documentation/svfsi/main/resource" %></section>

<section id="install" class="group"><%= partial "documentation/svfsi/main/install" %></section>
<section id="installer" class="subgroup"><%= partial "documentation/svfsi/main/install_installer" %></section>
<section id="container" class="subgroup"><%= partial "documentation/svfsi/main/install_container" %></section>
<section id="source" class="subgroup"><%= partial "documentation/svfsi/main/install_source" %></section>