<section id="intro" class="group"><%= partial "documentation/userguide3/intro" %></section>
<section id="gettingstarted" class="group"><%= partial "documentation/userguide3/gettingstarted" %></section>
<section id="imaging" class="group"><%= partial "documentation/userguide3/imaging" %></section>
<section id="modeling" class="group"><%= partial "documentation/userguide3/modeling" %></section>
<section id="path" class="subgroup"><%= partial "documentation/userguide3/path" %></section>
<section id="segmentation" class="subgroup"><%= partial "documentation/userguide3/segmentation" %></section>
<section id="polydata" class="subgroup"><%= partial "documentation/userguide3/polydata" %></section>
<section id="parasolid" class="subgroup"><%= partial "documentation/userguide3/parasolid" %></section>
<section id="meshing" class="group"><%= partial "documentation/userguide3/meshing" %></section>
<section id="meshsim" class="subgroup"><%= partial "documentation/userguide3/meshsim" %></section>
<section id="tetgen" class="subgroup"><%= partial "documentation/userguide3/tetgen" %></section>
<section id="simulation" class="group"><%= partial "documentation/userguide3/simulation" %></section>
<section id="inflowbc" class="subgroup"><%= partial "documentation/userguide3/inflowbc" %></section>
<section id="presolver" class="subgroup"><%= partial "documentation/userguide3/presolver" %></section>
<section id="running" class="subgroup"><%= partial "documentation/userguide3/running" %></section>
<section id="results" class="group"><%= partial "documentation/userguide3/results" %></section>
