<section id="intro" class="group"><%= partial "documentation/userguide/intro" %></section>
<section id="gettingstarted" class="group"><%= partial "documentation/userguide/gettingstarted" %></section>
<section id="imaging" class="group"><%= partial "documentation/userguide/imaging" %></section>
<section id="modeling" class="group"><%= partial "documentation/userguide/modeling" %></section>
<section id="path" class="subgroup"><%= partial "documentation/userguide/path" %></section>
<section id="segmentation" class="subgroup"><%= partial "documentation/userguide/segmentation" %></section>
<section id="parasolid" class="subgroup"><%= partial "documentation/userguide/parasolid" %></section>
<section id="polydata" class="subgroup"><%= partial "documentation/userguide/polydata" %></section>
<section id="meshing" class="group"><%= partial "documentation/userguide/meshing" %></section>
<section id="meshsim" class="subgroup"><%= partial "documentation/userguide/meshsim" %></section>
<section id="tetgen" class="subgroup"><%= partial "documentation/userguide/tetgen" %></section>
<section id="simulation" class="group"><%= partial "documentation/userguide/simulation" %></section>
<section id="inflowbc" class="subgroup"><%= partial "documentation/userguide/inflowbc" %></section>
<section id="presolver" class="subgroup"><%= partial "documentation/userguide/presolver" %></section>
<section id="running" class="subgroup"><%= partial "documentation/userguide/running" %></section>
<section id="results" class="group"><%= partial "documentation/userguide/results" %></section>
