<!-- Our Team Section -->
<section id="team" class="content-section text-left">
        <div class="container">
          <div class="col-lg-12">
              <h2>Our Team</h2>
              <div class="row">
                <!-- Team 1 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/bio/amarsden.jpg" alt="...">
                    <div class="caption">
                      <h4><a href="http://maeresearch.ucsd.edu/marsden/AMarsden/Home.html">Alison Marsden</a></h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/amarsden" %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Team 2 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/bio/sshadden.jpg" alt="...">
                    <div class="caption">
                      <h4><a href="http://shaddenlab.berkeley.edu/">Shawn Shadden</a></h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/sshadden" %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Team 3 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/bio/nwilson.png" alt="...">
                    <div class="caption">
                      <h4><a href="http://www.vascularmodel.com/">Nathan Wilson</a></h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/nwilson" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Team 5 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/bio/emptyBio.jpg" alt="...">
                    <div class="caption">
                      <h4>Daniele Schiavazzi</h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/dschiavazzi" %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Team 6 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/bio/emptyBio.jpg" alt="...">
                    <div class="caption">
                      <h4>Jameson Merkow</h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/jmerkow" %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Team 7 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/bio/emptyBio.jpg" alt="...">
                    <div class="caption">
                      <h4>Hongzhi Lan</h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/hlan" %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Team 8 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/bio/aupdegrove.jpg" alt="...">
                    <div class="caption">
                      <h4>Adam Updegrove</h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/aupdegrove" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="container top-buffer">
      <div class="col-lg-12">
        <h3>Other Contributors</h3>
        <ul>
          <li class="otherContrib">Charles A. Taylor, Ph.D., Founder, CTO, and Member of the Board of Directors, HeartFlow Inc.</li>
          <li class="otherContrib">Mahdi Esmaily Moghadam, Ph.D., Postdoctoral Fellow, CTR, Stanford University</li>
          <li class="otherContrib">C. Alberto Figueroa, Ph.D., Edward B. Diethrich Associate Professor of Surgery and Biomedical Engineering, University of Michigan</li>
          <li class="otherContrib">Kenneth Jansen, Ph.D., Professor of Aerospace Engineering, University of Colorado, Boulder</li>
          <li class="otherContrib">Weiguang Yang, Ph.D., Research Scientist, Pediatrics, Stanford University</li>
          <li class="otherContrib">Irene Vignon-Clementel, Ph.D., Permanent Research Scientist, INRIA Paris Rocquencourt</li>
          <li class="otherContrib">Kenneth Wang, M.D., Ph.D., Department of Radiology, Johns Hopkins School of Medicine</li>
          
        </ul>
      </div>
    </div>
</section>
