<!-- Our Team Section -->
<section id="team" class="content-section text-left">
        <div class="container">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h2>Our Team</h2>
              <div class="row">

                <!-- Team 1 -->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <div class="thumbnail bioThumbs">
                    <img src="img/bio/amarsden.jpg" alt="...">
                    <div class="caption">
                      <h4><a href="http://cbcl.stanford.edu">Alison Marsden</a></h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/amarsden" %>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Team 2 -->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <div class="thumbnail bioThumbs">
                    <img src="img/bio/sshadden.jpg" alt="...">
                    <div class="caption">
                      <h4><a href="http://shaddenlab.berkeley.edu/">Shawn Shadden</a></h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/sshadden" %>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Team 3 -->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <div class="thumbnail bioThumbs">
                    <img src="img/bio/nwilson.png" alt="...">
                    <div class="caption">
                      <h4><a href="http://www.vascularmodel.com/">Nathan Wilson</a></h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/nwilson" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Team 5 -->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <div class="thumbnail bioThumbs">
                    <img src="img/bio/hlan.jpg" alt="...">
                    <div class="caption">
                      <h4>Hongzhi Lan</h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/hlan" %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Team 6 -->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <div class="thumbnail bioThumbs">
                    <img src="img/bio/aupdegrove.jpg" alt="...">
                    <div class="caption">
                      <h4>Adam Updegrove</h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/aupdegrove" %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Team 7 -->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <div class="thumbnail bioThumbs">
                    <img src="img/bio/gmaher.jpg" alt="...">
                    <div class="caption">
                      <h4>Gabriel Maher</h4>
                      <a class="expander" href="#">Bio notes</a>
                      <div class="content BioPar">
                        <%= partial "homepage/team_members/gmaher" %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Team 8 -->

              </div>
        </div>
    </div>

</section>
