<section id="sec1" class="group"><%= partial "clinical/aortofemoral1/significance" %></section>
<section id="sec2" class="group"><%= partial "clinical/aortofemoral1/data" %></section>
<section id="sec3" class="group"><%= partial "clinical/aortofemoral1/description" %></section>
<section id="sec4" class="group"><%= partial "clinical/aortofemoral1/boundary" %></section>
<section id="sec5" class="group"><%= partial "clinical/aortofemoral1/results" %></section>
