<section id="sec1" class="group"><%= partial "clinical/coronary/significance" %></section>
<section id="sec2" class="group"><%= partial "clinical/coronary/data" %></section>
<section id="sec3" class="group"><%= partial "clinical/coronary/description" %></section>
<section id="sec4" class="group"><%= partial "clinical/coronary/boundary" %></section>
<section id="sec5" class="group"><%= partial "clinical/coronary/results" %></section>
