<section id="intro" class="group"><%= partial "clinical/coronary/introduction" %></section>
<section id="anatomy_and_image" class="group"><%= partial "clinical/coronary/anatomy_and_image_data" %></section>
<section id="model" class="group"><%= partial "clinical/coronary/model_construction_and_meshing" %></section>
<section id="sim" class="group"><%= partial "clinical/coronary/coronary_simulation" %></section>
<section id="inflow_bc" class="subgroup"><%= partial "clinical/coronary/inflow_bc" %></section>
<section id="aortic_bc" class="subgroup"><%= partial "clinical/coronary/aortic_outflow_bc" %></section>
<section id="coronary_bc" class="subgroup"><%= partial "clinical/coronary/coronary_outflow_bc" %></section>
<section id="parameter_selection" class="subgroup"><%= partial "clinical/coronary/parameter_selection" %></section>
<section id="wall_properties" class="subgroup"><%= partial "clinical/coronary/wall_properties" %></section>
<section id="solver_params" class="subgroup"><%= partial "clinical/coronary/solver_parameters" %></section>
<section id="run_job" class="subgroup"><%= partial "clinical/coronary/run_job" %></section>
<section id="results" class="group"><%= partial "clinical/coronary/simulation_results" %></section>
<section id="conclusion" class="group"><%= partial "clinical/coronary/conclusion" %></section>
<section id="references" class="group"><%= partial "clinical/coronary/references" %></section>
