<section id="sec1" class="group"><%= partial "clinical/pulmonary/significance" %></section>
<section id="sec2" class="group"><%= partial "clinical/pulmonary/data" %></section>
<section id="sec3" class="group"><%= partial "clinical/pulmonary/description" %></section>
<section id="sec4" class="group"><%= partial "clinical/pulmonary/boundary" %></section>
<section id="sec5" class="group"><%= partial "clinical/pulmonary/results" %></section>
